.cards-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 320px;
    overflow: hidden;
}

.card img{
    width: 100%;
    object-fit: cover;
    height: 180px;
}